go 1.26.4

use (
	./gen/go
	./scripts/gen-curated-sigma
	./scripts/gen-sigma-corpus
	./services/ai-core
	./services/cloud-portal
	./services/comms/mail-moderation
	./services/compliance
	./services/control-plane
	./services/ctem
	./services/deception
	./services/detection-engine
	./services/dlp
	./services/docs
	./services/event-writer
	./services/federated
	./services/ingest-gateway
	./services/license
	./services/national-hub
	./services/ngfw
	./services/observe
	./services/pam
	./services/platform
	./services/provision
	./services/service-desk
	./services/update-service
	./services/vm
	./services/waf
	./services/soar
)
