# ERA Office production secrets template — copy to office.env (never commit secrets).
# POSTGRES_PASSWORD=change-me
# ERA_IDENTITY_JWT_SECRET=change-me
# ERA_MINIO_SECRET_KEY=change-me
# ERA_LICENSE_OFFICE_DOCUMENTS=1
# ERA_LICENSE_PLATFORM_DRIVE=1
# ERA_OFFICE_DATABASE_URL=postgres://era:change-me@postgres:5432/era?sslmode=disable
